{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header"><h4>Входик</h4></div>
            <div class="card-body">
                {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
                <form method="POST">
                    <div class="mb-3"><label>Тут введи свой логин</label><input name="login" class="form-control" placeholder="тут пока не засекречено" required></div>
                    <div class="mb-3"><label>Тут введи пароль</label><input type="password" name="password" placeholder="а тут все засекречено, честно" class="form-control" required></div>
                    <button type="submit" class="btn btn-primary">Входи</button>
                    <a href="/register" class="btn btn-link">Вдруг у тебя нет аккаунта</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}