{% extends "base.html" %}
{% block content %}
<h2>Редактировать постик</h2>
<form method="POST" action="/edit-post/{{ post.id }}">
    <div class="mb-3"><label>Заголовочек</label><input name="title" value="{{ post.title }}" class="form-control" required></div>
    <div class="mb-3">
        <label>Содержание</label>
        <textarea name="content" class="form-control" rows="8" required>{{ post.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-warning">Сохранить постик</button>
    <a href="/post/{{ post.id }}" class="btn btn-outline-secondary">Назад</a>
</form>
{% endblock %}